.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  top: 52%;
  transform: translate(-50%, -50%);
  width: 17vh;
  height: 17vh; /* Keeps aspect ratio */
}

.logo-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.open-contact_button-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  list-style: none;
  height: 20%;
}

.open-contact_button {
  width: 71%;
  height: 45%;
  margin-bottom: 1vh;
  border: 1px solid #206556;
  background-color: #f2fbf8;
  text-decoration: none;
  outline: 0px;
  margin-right: 6%;
  color: #1d443c;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 500;
  font-size: 2.1vh;
  display: inline-block;
  text-align: center;
  padding: 1vh 0;
}

.open-contact_button.active {
  background: #206556;
  color: #f2fbf8;
}

.open-contact_button:hover {
  background: #206556;
  transition: all 0.2s ease-in-out;
  outline: none;
  color: #f2fbf8;
  width: 72%;
}

h4 {
  font-size: 2vh;
  color: #c8ecc8;
}

h5 {
  color: #c8ecc8;
  font-size: 1.7vh;
}

.program-div {
  width: 15%;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.main-navigation__menu-btn {
  margin-left: 2vh;
  width: 10vh;
  height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(1, 41, 34, 0.405);
  border: 2px solid #375049;
}

.main-navigation__menu-btn span {
  width: 60%;
  height: 6%;
  background: #c8ecc8;
}

@media (max-width: 768px) {
  /* Adjust logo container */
  .logo-container {
    width: 50%;
    height: 100%;
    position: absolute;
    left: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Adjust logo size */
  img.logo {
    width: 14vh;
    height: 14vh;
  }
  .program-div {
    width: 25%;
  }

  /* Adjust button size */
  .open-contact_button {
    width: 60%;
    font-weight: 600;
    font-size: 3vh;
  }

  /* Contact box adjustments */

  /* Contact div adjustments */
  /* Main menu button adjustments */
  .main-navigation__menu-btn {
    /* Adjust this value as needed */
    margin-left: 0.7vh;
    width: 16%;
    height: 42%;
    border: 2px solid #375049;
    border-radius: 2px;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    background-color: rgba(1, 41, 34, 0.405);
  }

  .main-navigation__menu-btn span {
    display: block;
    width: 2rem;
    height: 4px;
    background: #c8ecc8;
  }

  .desktop-nav-links {
    display: none;
  }

  .main-navigation__header-nav {
    display: block;
  }

  /* Schedule container size */
  .schedule-container {
    border-radius: 2px;
    width: 60%;
    height: 8vh;
    font-size: 2vh;
    box-shadow: 0 3px 10px rgba(4, 50, 9, 0.26);
  }
}

/* For very small screens (mobiles in portrait) */
@media (max-width: 480px) {
  .logo-container {
    width: 60%;
  }

  .open-contact_button {
    width: 80%;
    font-size: 4vh;
  }

  .contact-box {
    width: 90%;
    height: 25vh;
  }

  .schedule-container {
    width: 70%;
  }
}
