.about-us-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.about-us-header {
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: azure;
  border-bottom: 1px solid azure;
  box-shadow: 0px 12px 24px rgba(111, 147, 136, 0.464);
  margin-bottom: 5vh;
}

.about-us-right-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
  width: 85%;
  margin: 5vh;
  margin-bottom: 20vh;
}

.about-us-right-section img {
  width: 50%;
  height: 50vh;
  border-radius: 15px;
}
.about-us-p {
  line-height: 3vh;
  margin-left: 5vh;
  height: 100%;
  width: 55%;
  font-size: 2.4vh;
  text-align: start;
}
p {
  font-size: 2vh;
}

.centered-p {
  text-align: center;
  line-height: 3vh;
}

.about-us-left-section {
  margin: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  color: white;
  width: 85%;
  margin-bottom: 10vh;
}

.about-us-left-section img {
  width: 70vh;
  height: 50vh;
  border-radius: 15px;
}
.about-us-img {
  box-shadow: 1px 1px 100px 14px rgba(111, 147, 136, 0.464);
}

.about-hr {
  width: 100%;
  margin-bottom: 10vh;
}
.hero-hr {
  width: 100%;
}

.image-hero-section {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns */
  grid-template-rows: repeat(1, 2fr); /* 2 rows */
  gap: 1rem; /* Optional: spacing between grid items */
  margin-bottom: 10vh;
}

.hero-img {
  width: 100%;
  height: 100%;
}
.white-color {
  color: hsla(178, 100%, 83%, 0.759);
  font-size: 3vh;
  margin-bottom: 3vh;
}

@media (max-width: 768px) {
  .about-us-header {
    font-size: 2vh;
  }

  .about-us-right-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10vh;
  }

  .about-us-left-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .about-us-right-section img {
    width: 30vh;
    height: 20vh;
    margin-bottom: 4vh;
  }

  .about-us-left-section img {
    width: 30vh;
    height: 20vh;
    margin-bottom: 4vh;
  }
  .about-us-p {
    width: 80%;
    font-size: 1.8vh;
    line-height: 2.2vh;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    text-align: center;
    margin: 2vh 0;
  }
  .image-hero-section {
    width: 100%;
    height: 100%;
  }

  .white-color {
    font-size: 2vh;
  }
}
