.filter-ul-coffee {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.scroll-button-coffee {
  background-color: transparent;
  width: 27vh;
  margin: 1vh;
  height: 6vh;
  border: 1px solid rgba(253, 255, 208, 0.672);
  color: aliceblue;
  border-radius: 0.5rem;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}
.filter-options-coffee {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  @media (max-width: 768px) {
    .scroll-button-coffee {
      width: 15vh;
    }

    .filter-options-coffee {
      flex-direction: column;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .filter-ul-coffee {
      margin-top: 4vh;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr); /* 2 columns */
      grid-template-rows: repeat(2, 1fr); /* 2 rows */
      gap: 2vh;
      justify-items: center; /* Center items horizontally */
      align-items: center; /* Center items vertically */
    }
  }
}
