.main-content {
  height: 100%;
  padding-bottom: 25vh;
  background-color: rgba(1, 25, 15, 0.802);
}

.img-card {
  width: 30%;
  height: 50%;
  border-radius: 50%;
}
h2 {
  color: rgba(10, 60, 2, 0.86);
  font-size: 4vh;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.welcome-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 16vh;
}
.welcome-container h2 {
  color: rgb(195, 255, 217);
}

.section-card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 7 vh;
}
.section2-card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 7vh;
}

.card-text {
  width: 100%;
  text-align: center;
  color: rgb(255, 255, 255);
  border-radius: 15px;
  font-size: 3vh;
  font-family: fantasy;
}

.text-container {
  width: 40%;
  display: flex;
  align-items: center;
}

.food-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.coffee-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.glow-div {
  box-shadow: 3px 3px 100px 3px rgba(255, 246, 190, 0.637);
  border-bottom: solid 1px rgb(236, 255, 197);
  margin-bottom: 8vh;
  padding-top: 1vh;
  padding-bottom: 7vh;
}

@media (max-width: 768px) {
  .main-content {
    height: 100%;
    padding-bottom: 16vh;
    background-color: rgba(1, 25, 15, 0.802);
  }

  .img-card {
    width: 40%;
    height: 40%;
    border-radius: 50%;
  }
  h2 {
    color: rgba(234, 255, 170, 0.86);
    font-size: 3vh;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    align-items: center;
  }
  .welcome-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 16vh;
  }

  .section-card {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 7vh;
  }
  .section2-card {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 3vh;
  }

  .card-text {
    display: flex;
    align-items: center;
    text-align: center;
    color: rgb(255, 255, 255);
    height: 100%;
    background-color: rgba(3, 27, 11, 0.873);
    text-align: center;
    font-size: 1.7vh;
    font-family: "Times New Roman", Times, serif;
  }

  .text-container {
    width: 50%;

    display: flex;
    align-items: center;
  }
}
