.footer-container {
  background-color: rgba(6, 31, 24, 0.93);
  width: 100%;
  height: 44vh;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-around;
  padding-top: 4vh;
  border-top: 2px solid rgba(255, 255, 255, 0.67);
  border-bottom: solid 3px rgba(255, 255, 255, 0.161);
}

.links-div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  text-align: start;
  width: 100%;
  height: 100%;
  list-style: none;
}

.footer-link-box {
  width: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

hr {
  width: 70%;
}

ul {
  height: 100%;
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

h3 {
  color: aliceblue;

  font-size: 2vh;
}

.footer-h3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 19%;
}

.social-link {
  color: whitesmoke;
  text-decoration: none;
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 2vh;
  width: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-fav-icon {
  width: 3vh;
}

.footer-google-icon {
  width: 3vh;
}
.footer-ul li {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .social-link {
    width: 12vh;
    justify-content: space-between;
    font-size: 1.9vh;
  }
  .footer-google-icon {
    width: 2vh;
  }

  .footer-fav-icon {
    width: 2vh;
  }
  .footer-link-box {
    width: 12vh;
  }
}
