.footer-container {
  background-color: rgba(6, 31, 24, 0.93);
  width: 100%;
  height: 44vh;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-around;
  padding-top: 4vh;
  border-top: 2px solid rgba(255, 255, 255, 0.67);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border-bottom: solid 3px rgba(255, 255, 255, 0.161);
}

.links-div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  text-align: start;
  width: 50%;
  height: 100%;
  list-style: none;
  margin: 0 2vh;
}

hr {
  width: 70%;
}

ul {
  height: 70%;
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

h3 {
  color: aliceblue;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 2vh;
}

.footer-h3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 19%;
}
li {
  color: aliceblue;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.contact-div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  text-align: start;
  width: 50%;
  height: 100%;
  margin: 0 2vh;
  list-style: none;
}

.socialmedia-div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  text-align: start;
  width: 50%;
  height: 100%;
  margin: 0 2vh;
  list-style: none;
}
.social-link {
  color: whitesmoke;
  text-decoration: none;
}
