.information-for-products h4 {
  margin-bottom: 3vh;
  font-size: 3vh;
  color: azure;
}
.information-for-products h5 {
  font-size: 3vh;
  margin-top: 3vh;
  color: azure;
}
.footer-img {
  margin-top: 20vh;
  margin-bottom: 12vh;
  box-shadow: 1px 1px 30px 1px #9e9a81df;
}

.information-for-products {
  line-height: 5.5vh;
  font-size: 2.5vh;
  text-align: center;
  color: azure;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;

  padding-bottom: 15vh;
  box-shadow: 3px 3px 140px 3px rgb(72, 103, 103);
  border-bottom: solid 1px rgb(191, 255, 255);
  border-top: solid 1px rgb(191, 255, 255);
  margin-top: 8vh;
}

.information-for-products p {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin-bottom: 5vh;
}

.information-for-products ul {
  width: 90%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: azure;
}

.information-for-products ul li {
  margin-bottom: 2vh;
}

@media (max-width: 768px) {
  .footer-img {
    margin-top: 10vh;
    margin-bottom: 6vh;
  }
  .information-for-products h4 {
    margin-bottom: 3vh;
    width: 80%;
    text-align: center;
    font-size: 1.8vh;
  }
  .information-for-products h5 {
    font-size: 1.8vh;
    margin-top: 3vh;
    text-align: center;
  }

  .information-for-products {
    font-size: 1.5vh;
    line-height: 3vh;
    color: azure;
    text-align: center;
    height: 100%;
    width: 100%;
    background-color: rgba(14, 47, 47, 0.128);
  }

  .information-for-products p {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-bottom: 4vh;
    font-size: 1.5vh;
  }

  .information-for-products ul {
    width: 90%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .information-for-products ul li {
    text-align: center;
    margin-bottom: 2vh;
  }
}
