.main-navigation__section {
  width: 100%;
  height: 50vh;
  display: flex;
}
* {
  padding: 0;
  margin: 0;
}

a.active {
  width: 15%;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scrollbars */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; /* Includes padding and borders in width/height calculations */
}

@media (max-width: 768px) {
  .main-navigation__section {
    width: 100%;
    height: 100%;
    display: flex;
  }
}
