.product-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 30vh;
  height: 25vh;
  align-items: center;
  color: aliceblue;
}

.product-info-plus {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.hr {
  width: 100%;
}

.product-price {
  width: 100%;
  color: wheat;
  display: flex;
}

.product-name {
  width: 100%;
  padding: 1vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.product-price {
  width: 20%;
  margin-left: 1vh;
  font-size: 2vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.product-info {
  display: flex;
  width: 95%;
  height: 50%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.product-description {
  width: 90%;
  height: 70%;
  margin-top: 1vh;
  text-align: center;
}
.product-qty {
  display: flex;
  align-items: ce;
}
hr {
  margin-top: 1vh;
  width: 100%;
}

@media (max-width: 768px) {
  .product-div {
    width: 100%;
    height: 20vh;
    margin-bottom: 0;
  }

  .product-description {
    width: 90%;
    height: 8vh;
    font-size: 1vh;
    text-align: center;
  }
  .product-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 6vh;
    font-size: 1.3vh;
  }

  .product-name {
    text-align: center;
    width: 100%;
    padding: 1vh;
    font-size: 1.4vh;
  }
}
